<launch>

  <include file="$(find youbot_gazebo_robot)/launch/youbot.launch">
    <arg name="world" value="tower_of_hanoi" />
  </include>
  

  <include file="$(find youbot_moveit_config)/launch/move_group.launch" />

  <include file="$(find youbot_navigation)/launch/navigation_no_map.launch" />

  <include file="$(find flexbe_onboard)/launch/behavior_onboard.launch" />

  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find youbot_launch)/config/motion_planning.rviz" />

</launch>
